/* Colors i wanna use 
bfc0c0
ffffff
020202
735cdd
020887
d8d8c0
*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url('../resources/KNL-FLY.webp');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  padding: 20px;
  display: flex;
  align-items: center;
}

nav {
  margin-left: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

nav a {
  text-decoration: none;
  background-color: #d8d8c0;
  color: #333;
  margin-right: 10px;
  padding: 5px;
  position: relative;
}

nav a:hover:before {
  opacity: 1;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

section {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

section:nth-child(2) {
  margin: 0 20px;
}

h2 {
  margin-bottom: 10px;
}
